/* this is for styling the overlay
 * when using header / footer and backimage
 *
 * see metadata in notebook
 */

#rise-header {
    margin: 10px;
    left: 10%;
}

#rise-footer {
    margin: 10px;
    right: 10%;
}

#rise-backimage {
    opacity: 1.0;
}

/* TODO: maybe we need to port this to main.css?  */
.reveal img {
    margin-left: 40px;
    margin-top: -20px;
    width: 100%;
    height: auto;
}

.rise-enabled {
    background-image: url("pics/lessonbg_smooth_ill2.png") !important;
    box-shadow: 0 0 8px 8px white inset !important;
    background-position: center;
    background-origin: content-box;    
    background-size: contain !important;
    padding: 5px 5px 5px 5px;
}

.Footer_outer{
width: auto;
border: 1px solid;
bottom: 0;
}

.Footer_inner_left{
width: 50%;
Float: left;
display:inline;
bottom: 0;
background-color: #4682B4;
color: #FFFFFF;
}

.Footer_inner_right{
width: 50%;
Float: right;
display:inline;
bottom: 0;
text-align: right;
background-color: #4682B4;
color: #FFFFFF;
}

